.fa-star {
	color: gold;
}

#git {
	font-size: 1.5rem;
	color: black;
}

#linkedin {
	font-size: 1.5rem;
	color: black;
}

#twitter {
	font-size: 1.5rem;
	color: black;
}

#mail {
	font-size: 1.5rem;
	color: black;
}

#title-hr {
	width: 30%;
	background-color: black;
	height: 1px;
	border: 0;

}