.fa-star {
	color: gold;
}

#git {
	font-size: 1.5rem;
	color: aliceblue;
}

#linkedin {
	font-size: 1.5rem;
	color: aliceblue;
}

#twitter {
	font-size: 1.5rem;
	color: aliceblue;
}

#mail {
	font-size: 1.5rem;
	color: aliceblue;
}

#title-hr {
	width: 30%;
	background-color: lightgray;
	height: 1px;
	border: 0;
}

.fa-bars {
	font-size: 1.5rem;
}

.fa-caret-down {
	font-size: 2rem;
	color: transparent;
}

#background {
	background: url("resized-background-image.jpg") no-repeat center center;
	background-size: cover;
}
