.fa-star {
	color: gold;
}

.fa-github {
	font-size: 1.5rem;
	color: aliceblue;
}

.fa-linkedin {
	font-size: 1.5rem;
	color: aliceblue;
}

.fa-twitter {
	font-size: 1.5rem;
	color: aliceblue;
}

.fa-envelope {
	font-size: 1.5rem;
	color: aliceblue;
}

#title-hr {
	width: 30%;
	background-color: lightgray;
	height: 1px;
	border: 0;
}

.fa-bars {
	font-size: 1.5rem;
}

.fa-caret-down {
	font-size: 2rem;
	color: transparent;
}

#background {
	background: url("resized-background-image.jpg") no-repeat center center;
	background-size: cover;
}

#onTapScreenshot {
	height: 15rem;
	width: 24rem;
	margin-bottom: 1rem;
}

#angularAttackScreenshot {
	height: 17rem;
	width: 24rem;
	margin-bottom: 1rem;
}

#flappyBurquenoScreenshot {
	height: 17rem;
	width: 10rem;
	margin-bottom: 1rem;
}

#reactMovieFinderScreenshot {
	height: 17rem;
	width: 24rem;
	margin-bottom: 1rem;
}